extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-12
      p
        | Welcome to Gamer², your ultimate destination for all things gaming! Founded by passionate gamers, our website is dedicated to fostering a vibrant community of players who love to explore, discuss, and share their experiences with video games.
        | <br /><br />
        | At Gamer², we believe that gaming is more than just a hobby; it’s a way to connect, collaborate, and create lasting memories. Whether you’re a casual player, a hardcore enthusiast, or someone looking to get started, our platform is designed for everyone.
        | <br /><br />
        | At Gamer², we cherish the diversity of the gaming world and strive to create a space where everyone feels welcome. Our goal is to empower gamers by sharing knowledge, celebrating achievements, and promoting inclusivity within the community.
        | <br /><br />
        | Join us on this exciting journey as we explore the infinite possibilities of gaming. Together, let’s make every game an unforgettable adventure!